.category {
  padding: 8rem 0;
  &-content {
    padding: 7rem 7rem 0;

    @include tablet {
      padding: 15px 15px 0;
    }
    @include mobile {
      padding: 5px 5px 0;
    }
  

    &-img {
      padding: 4rem;
      height: 600px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      
      &:hover .category-content-img-inner {
        transform: scale(1.3);
      }

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: bottom;
        background-size: cover;
        transition: transform 1s ease 0s;
      }
    }

    &-title {
      font-size: 4rem;
      font-weight: 700;
      padding: 2rem;
      position: absolute;
      bottom: 0;
      color: $txt-white;
      text-transform: capitalize;

    }
  }

  &-title {
    font-family: $second-font;
    text-align: center;
    position: relative;

    & > h3 {
      text-transform: uppercase;
    }

    &-second {
      font-size: 5rem;
      color: $second-color;
      position: absolute;
      left: 24%;
      bottom: 40%;
      z-index: -1;

      @include tablet {
        font-size: 3rem;
      }
      @include mobile {
        font-size: 1.5rem;
        bottom: 70%;
      }
    }
    &-main {
      font-size: 3.5rem;
      z-index: 1;

      @include tablet {
        font-size: 3rem;
      }
      @include mobile {
        font-size: 2rem;
      }
    }
  }
}

@include tablet {
  .slideShow {
  display: grid;
  justify-content: flex-start;
  grid-auto-columns: 60%;
  grid-auto-flow: column;
  grid-gap: 0.8rem;
  overflow: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  scroll-padding: 1rem;
  grid-template-columns: unset;
  padding: 20px 0 0;
  margin-left: 10px;

    @include mobile {
      grid-auto-columns: 90%;
    }
  }
  .slideShow::-webkit-scrollbar {
    display: none;
    width: 0;
  }
  .slideShow > *{
    scroll-snap-align: start;
  }
}
