.header {
    height: $header-height;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
    padding: 0 $header-padding;

    @include mobile {
        padding: 0 10px;
    }
    @include tablet {
        height: 80px;
    }
    &-link-logo {
        color: $txt-white;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 800;

        @include tablet {
            font-size: 2rem;
        }
    }
    &.shrink {
        height: 60px;
        background-color: $second-color;
    }

    &-menu {
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;

        @include tablet {
            position: absolute;
            width: 80%;
            height: 100vh;
            background-color: $main-color;
            inset: unset;
            top: 0;
            left: 0;
            justify-content: center;
            align-items: flex-start;
            transform: translateX(-100%);
            transition: transform 0.5s ease;
            animation: animate 0.5s forwards;
            display: none;
        }

        @keyframes animate{
            to {
                transform: translateX(0);
            }
        }

        &-list{
            display: flex;
            pointer-events: visible;
            align-items: center;
            gap: 0 84px;

            @include tablet {
                flex-direction: column;
                gap: 50px 0;
                margin-top: 50px;
            }

            & > li > a {
                text-transform: capitalize;
                font-size: 1.5rem;

                &.active {
                    color: $txt-white;
                }
                &:hover {
                    color: $txt-white;
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: $txt-white;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 0.5s, transform 0.5s;
                }

                &.active::after,
                &:hover::after,
                &:focus::after {
                    opacity: 1;
                    transform: translate3d(0, 0.2em, 0);
                }
            }
        }

        &-item {
            position: relative;
        }
        
        &-close {
            font-size: 2rem;
            display: none;

            @include tablet {
                display: block;
            }
        }

    }

    &-user {
        font-size: 1.5rem;
        display: flex;

        & > a {
            margin-right: 20px;

            &:hover {
                color: $txt-white;
            }
        }
    }
    &-toggle-menu {
        display: none;
        @include tablet {
            display: unset;
            margin-left: 2rem;
        }
    }
}
