.special {
  position: relative;
  margin-bottom: 20px;
  padding-top: 4rem;

  & > .category-title {
    text-align: right;
    padding: 4rem 7rem;
    background-color: $bg-black;

    @include mobile {
      padding: 20px 20px;
    }
  }

  & .category-title-second {
    position: relative;
    font-size: 3.5rem;
    color: $txt-white;
    left: 0;
    z-index: unset;

    @include tablet {
      font-size: 3rem;
    }
  }
  & .category-title-main {
    font-size: 9rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-fill-color: transparent;

    @include tablet {
      font-size: 4.5rem;
    }
    @include mobile {
      font-size: 3rem;
    }
  }

  & .category-title .btn {
    position: relative;
    right: unset;
    top: unset;
    font-size: 2rem;

    @include mobile {
      font-size: 1.5rem;
    }
  }

  & .special-price {
    font-size: 3rem;
    color: $txt-white;
    margin-bottom: 2rem;
  }
  &-img {
    width: 50%;
    position: absolute;
    left: 7rem;
    bottom: 0px;

    @include mobile {
      left: 1rem;
      bottom: 15%;
    }
  }
}